
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>World</title>
</head>
<body>
  <h1>Welcome to World!</h1>
  <a href="/city">View Cities</a>
  <a href="/country">View Countries</a>
  </body>
</html>
