@using World.Models;
@using MySql.Data.MySqlClient;

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  <title>World</title>
</head>
<body>
<form action="/country" method="post">
  <input type="radio" id="continent" name="continent" value="Europe">Europe<br>
  <button type="submit">Submit</button>
</form>


  @* <a href="/world/new">Check another word</a> *@
</body>
</html>
